.App {
  text-align: center;
}

a {
  text-decoration: None;
}

body {
  margin: 0;
  font-family: 'Maven Pro', cursive;
  font-size: 16px;
  background-image: url(/src/images/RedCurtains.png);
  background-size: contain;
  color: white;
}

.Header {
  font-family: 'Maven Pro', cursive;
  font-size:1.5em;
  color: #fff;
  background: #080B59;
  margin:0;
  margin-top: -30px;
  margin-bottom: 15px;
  padding-top: 30px;
  width: 100%;

  /* // padding:0.5em; */
}

.title {
  margin-top: -40px;
  
  display: flex;
  justify-content: space-around;
  
}

.title-text-box {
  width: 270px;
  height: 80px;
  
}

.title-text {
  margin-top: 10px;
  font-family: 'Maven Pro', cursive;
  font-size: 1.8em;
  text-align: center;
  color:white;
  transition: all 0.2s ease-in-out;
}

.title-text:hover{
  transform: scale(1.2);
}

.heart {
  margin-top: 25px;
  margin-right:25px;
  text-align: right;
}

/* .heart:hover {
  transform: scale(1.2);
} */

.Nav-bar {
  display: flex;
  justify-content: space-around;
  margin: auto ;
  margin-top: -10px;
  margin-bottom: 0px;
  color: #fff;
  background-color: #080B59;
}

.Nav-container {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.Nav-text {
  color: white;
  font-weight: normal;
  text-decoration: None;
}

.Nav-text:hover {
  color: red;
  transition: 200ms ease-in;
}

.Item-container {
list-style: none;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding:20px;
}

.img {
  width:200px;
  height: 300px;
}

.Item-box {
  width: 160px;
  height: 420px;
  text-align: center;
  padding: 40px;
}
.Item-box-2 {
  width: 160px;
  height: 400px;
  text-align: center;
  padding: 40px;
}

.Ymal-detail-box {
  width: 400px;
  height: 600px;
  margin: -5 -5px;
  text-align: left;
  display:flex;
  flex-wrap: wrap;

}

.Ymal-box {
  width: 105px;
  height: 150px;
  text-align: center;
  padding: 30px;
  margin-top: -20px;
  padding-bottom: -20px;
}

.Ymal-img {
  width:130px;
  height: 185px;
}

.Ymal-description-box {
  width: 105px;
  text-align: center;
  margin-left:15px;
  color: white;
}

.Ymal-text {
  color:white;
}


.Footer {
  font-family: 'Maven Pro', cursive;
  text-align: center;
  font-size:1.5em;
  color: #fff;
  background-color: #080B59;
  position:relative;
  margin:0;
  padding-bottom: 70px 30px;
  bottom: 0;
  width: 100%;
}

.movie-reel {
  width: 150px;
  padding: 10px
}

.description-box {
  width: 160px;
  text-align: center;
  margin-left:15px;
  color: white;
}

.description-box > a {
  color: white;
}


.Detail-container {

display: flex;
flex-wrap: wrap;
padding: 30px;
}

.Detail-box {
  width: 300px;
  height: 400px;
  margin: 5 5px;
  text-align: left;
  padding: 30px;

}

.margin-left {
  display: flex;
  justify-content: space-around;
}

.zoom {
  width: 20px ;
}

.zoom:hover {
  transform: scale(1.2);
}

.delete-heart {
  color: white;
}

.delete-heart:hover {
  transform: scale(1.2);
}