.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: 'Maven Pro', cursive;
  font-size: 16px;
}

.Header {
  font-family: 'Maven Pro', cursive;
  text-align: center;
  font-size:1.5em;
  color: #fff;
  background-color: #080B59;
  margin:0;
  padding-top: 10px;
  /* // padding:0.5em; */
  }